## Importar/Exportar CSV y Excel ##

Lo primero que debemos hacer es importar Pandas para poder leer este tipo de archivos.

In [1]:
import pandas as pd

**Leer EXCEL:**

Debemos importar el archivo mediante su ruta de acceso.

In [6]:
ruta_exc = "C:/Users/marti/Desktop/Jupyter/practica_jupyter/ejemplo.xlsx"
exc = pd.read_excel(ruta_exc)
exc

    Nombre Apellido  Edad
0   Martin  Alvarez    23
1    Renzo    Perez    45
2  Agustin    Perez    34
3  Joaquin     Sosa    46
4  Alberto   Garcia    43

Hay que tener encuenta que por defecto las rutas de direcciones en Windows vienen con slash invertido, hay que cambiarlas manualmente a "/".

**Leer CSV:**

Otra forma de copiar las direcciones es solamtente copiando una parte del path y agregando puntos antes de las barras. Si en el path copiamos el nombre de la carpeta que contiene al archivo que queremos leer, entonces debemos poner dos puntos antes del slash.

In [17]:
ruta_csv = "../practica_jupyter/salida.csv"
csv = pd.read_csv(ruta_csv)
csv

   country  followers  mentions  retweets
0   BRASIL     6166.0    19.600     145.0
1  ECUADOR     2884.0    11.875     146.0
2   MEXICO      123.0    13.750     130.0

De otra manera, si el archivo que queremos leer est√° en la misma carpeta que en la que nos encontramos, no hace falta especificarle mucho, tan solo basta con poner un solo punto antes del slash y el nombre del archivo.

In [19]:
ruta_csv = "./salida.csv"
csv = pd.read_csv(ruta_csv)
csv

   country  followers  mentions  retweets
0   BRASIL     6166.0    19.600     145.0
1  ECUADOR     2884.0    11.875     146.0
2   MEXICO      123.0    13.750     130.0

**Exportar data frame en formato CSV y Excel:**

Para este ejemplo primero crearemos un data frame:

In [21]:
#Creamos un diccionario
di={"a":[1,2,3,4,5],
    "b":[5,4,3,2,1],
    "c":[1,3,5,7,8]
}
#Creamos el Data Frame
df = pd.DataFrame(data = di)
df

   a  b  c
0  1  5  1
1  2  4  3
2  3  3  5
3  4  2  7
4  5  1  8

Para exportar este data frame en formato **Excel (xlsx)**, el comando es el siguiente:

In [23]:
df.to_excel("df.xlsx",index = False)

En este caso, solamente se especific√≥ el nombre del archivo por que se guard√≥ directamente en la carpeta en la que nos encontramos, de otra manera habr√≠a que poner el path completo de la carpeta en la cual queramos pegarlo. Por otro lado el comando *index = False* se utiliza para eliminar los indices del data frame (0,1,2,...), y no mostrarlos en Excel.

Para exportar este data frame en formato **CSV**, el comando es el siguiente:

In [25]:
df.to_csv("../practica_jupyter/df.csv",index = False)

En este caso se copi√≥ el path entero para poder especificar la direcci√≥n en la cual queremos guardar el archivo.

**Observaci√≥n:** El formato CSV separa todas las variables con comas, siendo as√≠ un formato de texto plano. A diferencia de el formato xls que contiene todos sus valores puestos en diferentes celdas, siendo un formato de archivo binario.
Los archivos CSV tienen mucha mas compatibilidad y son ampliamente soportados por las distintas funciones de Python.